[Unit]
Description=Foundry Virtural Table Top
After=network.target nginx.service

[Service]
WorkingDirectory=/opt/foundryvtt
User=foundry
Restart=on-failure
ExecStart=/usr/bin/node /opt/foundryvtt/resources/app/main.js --dataPath=/wso/foundryvtt --proxy /foundry --port=30000 --dataPath=/wso/foundryvtt

[Install]
WantedBy=multi-user.target